# Unreal Engine specific
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
*.dmp
*.log

# Plugins
Plugins/*/Intermediate/
Plugins/*/Saved/

# Visual Studio specific
.vscode/
.vs/
.vsconfig   
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo

# macOS specific
*.DS_Store

# Xcode specific
*.xcodeproj
*.xcworkspace

# Backup files
*.tmp
*.bak

# Editor-specific settings
Config/DefaultEditor.ini
Config/DefaultEditorPerProjectUserSettings.ini