# Unreal Engine specific
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio specific
.vscode/
.vs/
.vsconfig   
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo

# macOS specific
*.DS_Store

# Xcode specific
*.xcodeproj
*.xcworkspace

# Backup files
*.tmp
*.log
*.bak